export SERVICE_CATALOG_BASE_URL="https://your-instance.com"
export SERVICE_CATALOG_API_ENDPOINT="${SERVICE_CATALOG_BASE_URL}/api/projects?serviceCatalogRelations=CodeRepository&serviceCatalogRelations=Pipeline"
export OBSIDIAN_DIR="/path/to/your/obsidian/vault"
